<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hifz">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hifz">
        <activity
            android:name=".DestinationActivity"
            android:exported="true" />
        <activity
            android:name=".SetAlarm"
            android:exported="true" />
        <activity
            android:name=".ayat_tilawah"
            android:exported="true" />
        <activity
            android:name=".Ayat2"
            android:exported="true" />
        <activity
            android:name=".ayat"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".surat"
            android:exported="true" />
        <activity
            android:name=".murajaah"
            android:exported="true" />
        <activity
            android:name=".tilawah"
            android:exported="true" />
        <activity
            android:name=".beranda"
            android:exported="true" />
        <activity
            android:name=".login"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".AlarmReceiver"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>